<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Juan y Miguel.
</p>

<a href="https://github.com/momenaca/quiz_2017.git">Repositorio Git</a>
<p></p>

<img src="/images/f1.jpg"/>

</body>
</html>