<h1>Página de ayuda</h1>

<p> <strong>Quiz:</strong> Red social para crear adivinanzas (quiz). Permite múltiples usuarios compartiendo adivinanzas.</p>

<pre>

  <strong>Proyecto educativo para mostrar:</strong>

  Arquitectura de una aplicación Web del lado servidor.
  Metodologías de desarrollo.
  Los elementos más importantes de un portal Web.

</pre>
