<h1>
    PRUEBAS:
</h1>

<%= score %>


<script type="text/javascript">
    function prueba() {
        <% score %>;
    }

</script>

<button type="button" onclick="prueba()">Pista</button>


</li>



